.select {
    margin-top: 3vh !important;
    margin-left: 1300px !important;
    min-width: 200px !important;
    background: rgba(212, 212, 212, 0.315) !important;
    font-weight: 200 !important;
    border-width: 2px !important;
    border-radius: 12px !important;
    padding-left: 24px !important;
    padding-bottom: 15px !important;
    box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.14);
  }
  .table-povijest-testiranja {
    margin-top: 50px;
    margin-left: 270px;
    max-width: calc(100% - 270px);
    min-width: 500px;
  }
  .naslov {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
  }
  .naslov-div {
    margin-left: auto !important;
    margin-left: auto !important;
    display: block !important;
  }

  .selectpt {
    padding: 5px !important;
    border: none !important;
    outline: none !important;
    min-width: 200px !important;
    margin-top: 50px !important;
    margin-left: 270px !important;
    position: relative !important;
    overflow: hidden !important;
    cursor: pointer !important;
    border-radius: 30px !important;
    text-align: center !important;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4) !important;
    background: lightgray;
  }
  